log/
logHttp/
logKapture/
node_modules/
public/lib/
public/i18n/
public/application.min.css
public/application.min.css.map
public/apidoc/apidoc.json
public/modules/core/apidoc/core.host.apidoc.json
*.log
report-jshint-checkstyle.xml
report-csslint-checkstyle.xml
report-eslint-checkstyle.xml
app/tmp/
.vagrant/
.idea/
typings
typings/
test/
test_out/
coverage/
.vscode/
.git/
/tsconfig.json
*.orig
npm-debug*
jest/